:root {
    --bg-primary: #0a0a0a;
    --bg-secondary: #ffffff0d;
    --bg-header: #000000ac;
    --text-primary: #ffffff;
    --text-secondary: #9ca3af;
    --text-third: #d1d5db;
    --text-color: #7c8ee7;
    --text-other: #ffffff;
    --text-gradient: linear-gradient(40deg, #7c8ee7, #b0b4c8);
    --border-color: #7c8ee7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: var(--bg-header);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(30px);
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav {
    display: flex;
    gap: 2rem;
    align-items: right;
    justify-content: right;
}

.nav a {
    color: var(--text-other);
    text-decoration: none;
}

.nav a:hover {
    color: var(--border-color);
}

/* First Section */
.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 2rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
}

.first-content {
    flex: 1;
    max-width: 600px;
}

.first h1 {
    font-size: 2.5rem;
}

.first .name {
    color: var(--text-color);
}

.first .role {
    color: var(--text-secondary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.first .description {
    color: var(--text-third) ;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}
.first-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 50%;
}

.img-border {
    border: 2px var(--border-color);
}
